[
  {"type":"text","text": "<%= safe_liff_path(path: '/menu', liff_size: :full) %>" },
  {"type":"text","text":"test"}
  　<style type="text/css">
　　　.redTxt　{　color: #F00;　}　/* 這是 css 的註解 */
　　　#blueTxt {　color: #03F;　}　/* 樣式名稱 {　屬性: 值　} */
　　</style>

　　<p class="redTxt">hello</p> // class 對應 . 開頭的樣式
　　<p id="blueTxt">world</p> // id 對應 # 開頭的樣式
]